.nav{
    background-color:ghostwhite;
    z-index: q;
    padding: 0px;
    display: flex;
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,0.15);
    margin-bottom: 50px;
}

.nav_top{
    position:fixed;
    top:0;
    right:0;
    left:0;
}
.logo{
    float:left;
    width:60%;
}
.logo img{
    padding:10px;
    
}
.nav_side{
    padding: 20px;
    float:right;
    width:40%;
    padding-left: 50px;
}
.nav_side a{
    text-decoration: none;
    margin-right:20px;
    padding-top:20px;
    color:black;
    font-weight:bold;
    font-family: Cosmic, sans-serif;
    font-size:15px;
    justify-content: right;
    align-items: right;
    align-content: right;
    text-align: right;
    font-size: 20px;
}
.nav_side a:hover{
    color:orange;
    text-decoration: underline;
}
.main{
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    height: 70vh;
}
.main .main-content{
    padding-top:130px;
    margin-left: 10%;
    margin-right: 10%;
}
.main .main-content h2{
    color:beige;
    font: size 45px;
    font-family: 'Cosmic', sans-serif;
    font-weight: bolder;
    text-align: center;
}
.main .main-content h2 span{
    color: bisque;
    font-size:  15px;
    font-weight: lighter;
    opacity:0.8;
    line-height: 10px;
}
.main .main-content .btn{
    font-size: 35px;
    margin-top:50px;
    margin-left:42%;
}
.main .main-content .btn a{
    text-decoration:none;
    margin:50px;
    padding:10px 20 px;
    background-color:#4A148C;
    color:white;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    border:2 px solid white;
    border-radius:10px;
}
.main .btn a:hover{
    background-color:black;
    color:orange;
    border:none;
    border-bottom:4 px solid orange;
}
.products{
    margin-top: 80px;
    background-color: rgb(245, 243, 240);
}
.products .product_container{
    display:flex;
    margin-left:5%;
    margin-right:5%;
}
.products .product_container .item{
    width:33.33%;
    height:auto;
    margin:10px;
}
.products .product_container .item:hover{
    box-shadow:0px 3px 65px 0px rgba(0,0,0,0.15);
}
.products .product_container .item .item-img{
    width:100%;
    height:250px;
    overflow:hidden;
}
.products .product_container .item .item-img img{
    width:100%;
    height:250px;
}
.products .product_container .item .item-content{
    text-align: center;

}
.products .product_container .item .item-content h3{
    padding:10px;
    font-size:25px;
    font-family: cosmic ,sans-serif;

}
.products .product_container .item .item-content p{
    padding:10px;
    font-size:15px;
    font-family: cosmic ,sans-serif;

}
.products .product_container .item .item-content a{
    text-decoration:none;
    margin:50px;
    padding:10px 20 px;
    background-color:#4A148C;
    color:white;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    border:2 px solid white;
    border-radius:10px;
}
.products .product_container .item .item-content a:hover{
    background-color:black;
    color:orange;
    border:none;
    border-bottom:4 px solid orange;
}
.products .product-button{
    text-align: center;
    margin-top:50px;
}
.products .product-button a{
    text-decoration:none;
    margin:50px;
    padding:10px 20 px;
    background-color:#4A148C;
    color:white;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    border:2 px solid white;
    border-radius:10px;
}
.products .product-button a:hover{
    background-color:black;
    color:orange;
    border:none;
    border-bottom:4 px solid orange;
}
.keypoints{
    padding:50px;
}
.keypoints h2{
    color:black;
    font-size:35px;
    padding:10px;
    text-align: center;
}
.keypoints .key-container{
    display: flex;
}
.keypoints .key-container .key-content{
    width:40%;
    padding:20px;
    float:left;
}
.keypoints .key-container .key-content li{
    list-style: none;
    margin:10px;
    padding: 10px;
    border-left: 2px solid orchid;
    color:blue;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,0.15);
}
.keypoints .key-container .key-image{
    width:40%;
    float:right;
    margin-left: 100px;
}
.keypoints .key-container .key-image img{
    width:100%;
}
.testi{
    padding:50px;

}
.testi h2{
    text-decoration: underline;
    text-decoration-color:peru;
    text-align: center;
    padding:10px;
    font-size:30px;
    font-family: cosmic ,sans-serif;
    text-transform: uppercase;
    
}
.testi .testi-container{
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}
.testi .testi-container .carousel-inner{
    background-color: white;
    box-shadow: none;
}
.testi .testi-container .item{
    width:100%;
    background-color: white;
    box-shadow: none;
    padding:20px;
}
.testi .testi-container .item .item_image {
    width:100%;
    height:120px;
    overflow:hidden;
    text-align:center;
}
.testi .testi-container .item .item_image img{
    height:100px;
    width:150px;
    border-radius: 50%;
    
}
.testi .testi-container  .item .item_content{
    text-align: center;

}
.testi .testi-container .item .item_content h3{
    padding:10px;
    font-size:25px;
    font-family: cosmic ,sans-serif;

}
.testi .testi-container  .item .item_content p{
    padding:10px;
    font-size:15px;
    font-family: cosmic ,sans-serif;

}
.team{
    padding:50px;

}
.team h2{
    text-decoration: underline;
    text-decoration-color:peru;
    text-align: center;
    padding:10px;
    font-size:30px;
    font-family: cosmic ,sans-serif;
    text-transform: uppercase;
}
.team .team-container{
    display:flex;
}
.team .team-container .team-video
{
    width:55%;
    padding:20px;
}
.team .team-container .team-video iframe{
    width:100%;
    border:5px solid violet;
}
.team .team-container .team-content{
    width:43%;
    padding:20px;
    margin-left:50px;
    float:right;
}
.team .team-container .team-content p{
    text-align: center;
    color:lightgreen;
    font-size:15px;
    font-family: 'Courier New', Courier, monospace;
    

}
.about_us{
    padding:50px;
}
.about_us h2{
    text-decoration: underline;
    text-decoration-color:peru;
    text-align: center;
    padding:10px;
    font-size:30px;
    font-family: cosmic ,sans-serif;
    text-transform: uppercase;
    color:yellow;
}
.about_us p{
    font-size: medium;
    padding:5px;
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
    text-align: center;
    line-height: 30px;
}
.contact_container{
    padding:100px;

}
.contact_container h2{
    text-decoration: underline;
    text-decoration-color:peru;
    text-align: center;
    padding:10px;
    font-size:30px;
    font-family: cosmic ,sans-serif;
    text-transform: uppercase;
    color:darkcyan;
}
.contact_container .g_map{
    border:10px solid olivedrab;
}
.contact_container .contact-content{
    padding:20px;

}
.contact_container .contact-content p b{
    font-size: medium;
    padding:5px;
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
    text-align: center;
    line-height: 30px;
}
.blogs{
    margin-top: 100px;
    padding:20px;
    display: flex;
}
.blogs h2{
    text-decoration: underline;
    text-decoration-color:peru;
    text-align: center;
    padding:10px;
    font-size:30px;
    font-family: cosmic ,sans-serif;
    text-transform: uppercase;
    color:darkcyan;
}
.blogs .container{
    padding:20px;
}
.blogs .container .container_content{
    width:33%;
    
}
.form{
    margin-top: 75px;
    background-color:beige;
    text-align: center;
    padding:20px;
}
.form h2{
    text-decoration: underline;
    text-decoration-color:peru;
    text-align: center;
    padding:10px;
    font-size:30px;
    font-family: cosmic ,sans-serif;
    text-transform: uppercase;
}

.form input{
    text-align: center;
    width:30%;
    margin:5px;
    padding:10px;
    border:none;
}
.feed{
    background-color:beige;
}
.feed h2{
    text-decoration: underline;
    text-decoration-color:peru;
    text-align: center;
    padding:10px;
    font-size:30px;
    font-family: cosmic ,sans-serif;
    text-transform: uppercase;
}
.form button{
    text-align: center;
    width:30%;
    margin:5px;
    padding:10px;
    border:5px;
    background-color: chartreuse;
    border-radius: 5px;
}
.feed .feed-form{
    text-align: center;
    padding:20px;
}
.feed .feed-form input{
    text-align: center;
    width:30%;
    margin:5px;
    padding:10px;
    border:none;
}
.feed .feed-form textarea{
    text-align: center;
    width:30%;
    margin:5px;
    padding:10px;
    border:none;
}
.feed .feed-form button{
    text-align: center;
    width:30%;
    margin:5px;
    padding:10px;
    border:5px;
    background-color: chartreuse;
    border-radius: 5px;
}
footer{
    background-color: blueviolet;
    padding:50px;
}
footer .logo{
    padding-bottom: 20px;
}

footer .pages{
    padding-top: 60px;
    text-align: center;
}
footer .pages h3
{
    color:black;
    font-size:20px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
}
footer .pages a{
    text-decoration: none;
    margin:10px;
    color:orange;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
}
footer .pages a:hover{
    color:white;
}
footer .docs{
    text-align: center;
}
footer .docs h3
{
    color:black;
    font-size:20px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
}
footer .docs a{
    text-decoration: none;
    margin:10px;
    color:orange;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
}
footer .docs a:hover{
    color:white;
}
footer .social{
    text-align: center;
}
footer .social h3
{
    color:black;
    font-size:20px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
}
footer .social a{
    text-decoration: none;
    margin:10px;
    color:orange;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
}
footer .social a:hover{
    color:white;
}
footer .contact{
    text-align: center;
}
footer .contact h3
{
    color:black;
    font-size:20px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
}
footer .contact a{
    text-decoration: none;
    margin:10px;
    color:orange;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
}
footer .contact a:hover{
    color:white;
}